In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
df = pd.read_csv("crime_safety_dataset.csv")
df.head()

   id        date      time crime_type          city state location_description  victim_age victim_gender victim_race
0   1  2022-09-09  18:58:57   Homicide  Philadelphia    PA        9916 Broadway          34          Male       Other
1   2  2022-07-10  12:10:59    Assault       Phoenix    AZ          6853 Oak St          13        Female       Black
2   3  2024-12-31  09:26:12   Burglary   San Antonio    TX       3760 Maple Ave          23          Male       Asian
3   4  2024-04-12  23:17:28  Vandalism  Philadelphia    PA         6781 Main St          36         Other       Asian
4   5  2023-07-19  04:49:39      Fraud   San Antonio    TX        3239 Broadway          26         Other       Other

In [4]:
df.shape

(1000, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1000 non-null   int64
 1   date                  1000 non-null   object
 2   time                  1000 non-null   object
 3   crime_type            1000 non-null   object
 4   city                  1000 non-null   object
 5   state                 1000 non-null   object
 6   location_description  1000 non-null   object
 7   victim_age            1000 non-null   int64
 8   victim_gender         1000 non-null   object
 9   victim_race           1000 non-null   object
dtypes: int64(2), object(8)
memory usage: 78.3+ KB

In [14]:
df.isnull().sum()

id                      0
date                    0
time                    0
crime_type              0
city                    0
state                   0
location_description    0
victim_age              0
victim_gender           0
victim_race             0
dtype: int64